USE [master]
GO
/****** Object:  Database [buh313]    Script Date: 05.12.2025 13:58:11 ******/
CREATE DATABASE [buh313]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'buh313', FILENAME = N'C:\Users\user\buh313.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'buh313_log', FILENAME = N'C:\Users\user\buh313_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [buh313].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [buh313]
GO
USE [buh313]
GO
/****** Object:  Table [dbo].[requests]    Script Date: 05.12.2025 13:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requests](
	[request_id] [int] NOT NULL,
	[user_name] [nchar](10) NOT NULL,
	[number_phone] [nchar](12) NOT NULL,
	[email_address] [varchar](50) NOT NULL,
	[business_form] [nvarchar](50) NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_requests] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 05.12.2025 13:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[service_id] [int] NOT NULL,
	[service_name] [nvarchar](50) NULL,
	[price] [money] NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_services] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 05.12.2025 13:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [nchar](10) NULL,
	[email_address] [varchar](50) NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[is_admin] [bit] NULL,
	[send_notification] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_services]    Script Date: 05.12.2025 13:58:12 ******/
CREATE NONCLUSTERED INDEX [IX_services] ON [dbo].[services]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
